.klw-back {
  appearance: none;
  background: none;
  border: 0 none;
  color: $link-color;
  cursor: pointer;
  font-size: 1em;
  margin: 0 0 $spacing-vertical-sm -1em;
  padding: 0;
  transition: color .2s ease-in-out;

  &:hover {
    color: $link-color-hover;
  }

  svg {
    height: 1em;
    vertical-align: -.15em;
    width: 1em;
  }
}
