// Palette

$color-shade: #9b9081;
$color-shade-darkest: darken($color-shade, 35%);
$color-shade-darker: darken($color-shade, 25%);
$color-shade-dark: darken($color-shade, 15%);
$color-shade-mid: $color-shade;
$color-shade-light: lighten($color-shade, 20%);
$color-shade-lighter: lighten($color-shade, 36.5%);
$color-shade-lightest: lighten($color-shade, 40%);

// Alerts
$color-alert-danger: #bc3e31;
$color-alert-warning: #856514;
$color-alert-success: #5a781d;
$color-alert-info: #2574a9;

$color-brand-primary:  #8BC63E;
$color-brand-secondary: #5D8529;

// $base-outline:          1px solid rgba($base-link-color, 0.5);
// $focus-border:          1px solid rgba($base-link-color, 0.5);
// $focus-shadow:          0 0 4px $base-link-color;
// $base-shadow:           0 0 .25em rgba(0,0,0,0.15);

// Base
$body-background: $color-shade-lighter;
$body-color: $color-shade-dark;

// Borders
$border: 1px solid $color-shade-light;
$border-radius: 4px;

// Typography
$font-family: helvetica, arial, sans-serif;
$line-height: 1.5;

// Headings
$heading-color: $color-shade-darkest;
$heading-font-family: Futura, Trebuchet MS, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
$heading-line-height: 1.25;

// Links
$link-color: #007faa;
$link-color-hover: darken($link-color, 5%);

// Spacing

$spacing-vertical: 1em;
$spacing-horizontal: 1em;

$spacing-vertical-sm: .5em;
$spacing-horizontal-sm: .5em;

$spacing-vertical-fluid: 5%;
$spacing-horizontal-fluid: 5%;
