.klw-form-group {
  &__label {
    @include sr-only;
  }

  &__help {
    font-size: .875em;
    margin-top: $spacing-vertical-sm;

    &--success {
      color: $color-alert-success;
    }

    &--danger {
      color: $color-alert-danger;
    }
  }
}
