.klw-input {
  appearance: none;
  background: #fff;
  border: $border;
  border-radius: $border-radius;
  color: $body-color;;
  font-size: 1em;
  line-height: normal;
  padding: $spacing-vertical-sm $spacing-horizontal;
  width: 100%;
}
