.klw-input {
  appearance: none;
  background: #fff;
  border: $border;
  border-radius: $border-radius;
  color: $body-color;
  font-size: 1em;
  line-height: normal;
  padding: $spacing-vertical-sm $spacing-horizontal;
  transition: border-color .2s ease-in-out;
  width: 100%;

  &--success {
    border-color: $color-alert-success;
  }

  &--danger {
    border-color: $color-alert-danger;
  }
}
